@charset "utf-8";
/* CSS Document */

#container{
	width:100%;
	height:100%;
}
#container2{
	height:100%;
	margin-bottom: 50%;
}
row{
	margin: -15px;
	padding: -15px;
	display: table;
}
#imagerow{
	max-height: 200px;
	max-width: 99%;
	margin-left: auto;
	margin-right: auto;
}
#imagecol{
	max-height:120px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	background-position: center;
	background-size: 100%;

}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: #222233;
	color: #AACCFF


}

h3{
	color: #FFFFFF;
	font-weight: bold;
	margin:5px;

}
table{
	border-collape:collapse;
	
}
#image1{
	opacity: 1;
   	background-color:#020202;
	border: solid;
	border-color:#9C9B9B;
	border-width: 5px;
	border-radius: 0.2em;
	display: block;
	
}
#image1:hover{
	opacity:0.4;
  	filter:alpha(opacity=40); 
}
#image1:overlay{
	margin-top: -40px;
    background:#404040;
    text-align: center;  
    color: #fff; 
    padding: 10px; 
    position: absolute; 
    width: 100%;
}

#mainimage{
	height: 100%;
	width:100%;
	
}
#paraimage{
	margin-left:12.5%;
	margin-right:12.5%;
	margin-top:2%;
	text-align: center;
}
#mainimage{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top:1vh;
	border-color:#FFFFFF;
	border-width: 5px;
	border-radius: 0.2em;
	border-style: solid;

}
col{
	padding:0;
	margng:0;
	float: none;
	display: table-cell;
	vertical-align: top;
}
#Footer{
	position: absolute;
	bottom: 0;
	margin-bottom: auto;
}
overlay{
	font-size:20px;
	text-align:center;
	position:absolute;
	
}
#backbutton {
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right:8px;
	text-transform: uppercase;
	border-radius: 4px;
	transition: all 0.3s ease 0;
	margin-right: auto;
	font-size: 12px;
	margin-top:10px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
#backbutton:hover {
	color: #fffff !important;
	letter-spacing: 3px;
	background: #404040;
	transition: all 0.3s ease 0s;
}
#para{
	margin: 1px;
	padding: 3px;
	border: 3px dashed #000000;
	border-radius: 20px;
}
#indeximage{
	margin: 20px;
	padding:inherit;
	border-color: #000000;	
}
#navbar{
	background-color:#222233;
	
}
#navbar1 li{
	padding-left: 15px;
	font-weight: 100;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 20px;
}
#navbar li{
	padding-left: 15px;
	font-weight: 100;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 20px;
}
.navbar-brand{
	padding-left: 15px;
	font-weight: 800;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 30px;
}
span.tab-space{
}
h2{
	color:#;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
}
P{
	color: #FFFFFF;
	font-weight: 600;
	
}
map{
	margin-top: 30px;
	text-align: center;
	max-width: 50%;
}



ul {
  	list-style: none; /* Remove default bullets */
	color: #FFFFFF;
	font-weight: 600;
	max-width: 800px;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #FFFFFF; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


h4{
	color: #AACCFF;
		font-weight: 700;
	font-size: 40px;
	text-align: left
}


















body{
    background: -webkit-linear-gradient(left, #, );
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
	border-radius: 6rem;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
#jumbotron1{
	background-image: url("../Image/lighthouse1.jpg");
	background-size: cover;
	color: white;
	text-align: center;
	
	margin-left:-20px;
	margin-right:-20px;
	margin-bottom: 100px;
	height: 600px;
}
h1{
	margin-top: 100px;
}

        .xyz { 
            background-size: auto; 
            text-align: center; 
            padding-top: 100px; 
        } 
        .btn-circle.btn-sm { 
            width: 30px; 
            height: 30px; 
            padding: 6px 0px; 
            border-radius: 15px; 
            font-size: 8px; 
            text-align: center; 
        } 
        .btn-circle.btn-md { 
            width: 50px; 
            height: 50px; 
            padding: 7px 10px; 
            border-radius: 25px; 
            font-size: 10px; 
            text-align: center; 
        } 
        .btn-circle.btn-xl { 
            width: 280px; 
            height: 280px; 
            padding: 40px 64px; 
            border-radius: 140px; 
            font-size: 24px; 
            text-align: center; 
			min-width: 100px;
        } 
#circleButton{

	align-content: center;
	
}
#circle{
	align-content: center;
	text-align: center;
}

#hyper1{
	border-width:7px;
border-style:solid;
border-color:#494545;
}
#hyper2{
	border-width:7px;
border-style:solid;
border-color:#494545;
}
#hyper3{
	border-width:7px;
border-style:solid;
border-color:#494545;
}